[Sia One] [IA - Comercial] v4.json
{
  "name": "[Sia One] [IA - Comercial]",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-3440, -384],
      "id": "55f15d2a-c36b-422d-8a60-28f2f7420dfa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const mensagem = $json[\"mensagem\"];\nconst abreviacoes = ['Dra.', 'Sr.', 'Sra.', 'Dr.', 'Prof.', '1.', '2.', '3.', '4.'];\n\nconst contemEmoji = (texto) => {\n  const regexEmoji = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF]+/g;\n  return regexEmoji.test(texto);\n};\n\nconst regex = new RegExp(\n  `(?<!\\\\b(?:${abreviacoes.map(abreviacao => abreviacao.replace('.', '\\\\.')).join('|')}))(?<=[\"\".!?])\\\\s+`\n);\n\nlet partes = mensagem.split(regex);\n\nconst ultimaPalavraEhAbreviacao = (frase) => {\n  const palavras = frase.trim().split(' ');\n  const ultimaPalavra = palavras[palavras.length - 1];\n  return abreviacoes.includes(ultimaPalavra);\n};\n\nfor (let i = 1; i < partes.length; i++) {\n  if (ultimaPalavraEhAbreviacao(partes[i - 1])) {\n    partes[i - 1] += ' ' + partes[i];\n    partes.splice(i, 1);\n    i--;\n  }\n}\n\nconst combinarFrasesCurtas = (partes) => {\n  const combinadas = [];\n  let buffer = '';\n\n  for (let i = 0; i < partes.length; i++) {\n    buffer += partes[i].trim();\n    if (i < partes.length - 1 && (partes[i].trim().length < 40 || contemEmoji(partes[i].trim()))) {\n      buffer += ' ';\n    } else {\n      combinadas.push(buffer);\n      buffer = '';\n    }\n  }\n\n  if (buffer.length > 0) {\n    combinadas.push(buffer);\n  }\n\n  return combinadas;\n};\n\npartes = combinarFrasesCurtas(partes);\n\nconst removerFormatacaoLink = (texto) => {\n  const regexLinkFormatado = /\\[.*?\\]\\((.*?)\\)/g;\n  return texto.replace(regexLinkFormatado, '$1');\n};\n\nconst resultado = partes\n  .filter(parte => parte.trim() !== '')\n  .map(parte => ({ mensagem: removerFormatacaoLink(parte.trim()) }));\n\nreturn resultado;"
      },
      "id": "4fb356dd-564a-4bab-9d6e-737a8d84a63f",
      "name": "Separa Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2304, -80]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-1888, -208],
      "id": "cba675d6-7fdb-44ad-b0a1-25444daa537c",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simplifique.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $vars.UAZAPI_INSTANCE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "delay",
              "value": "1500"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1872, 32],
      "id": "8f6bd7a0-3071-4f70-9c12-e38e8d90a5d9",
      "name": "msg"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "3cc85fd0-09da-41a1-98b8-4807ac7d25c2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1504, 32],
      "webhookId": "eb1e13bd-1ebf-48bd-923a-9faece1949bf"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0b55c352-1403-42bc-b36b-68d806a7972d",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-2096, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38c0fbe4-2c02-414c-a242-dbbf882f1b49",
              "name": "mensagem",
              "value": "={{ $json.content.replace(/['\\\"]+/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7ec6c76-fcaf-4e8f-be1a-a0e9ec98bfdb",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2528, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd77e026-a39f-4d86-87ff-14e5125e9f52",
              "name": "role",
              "value": "assistant",
              "type": "string"
            },
            {
              "id": "7bccbe2c-3c3a-4b37-b2db-f2038f1d010e",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "18cf1e45-74f0-4f3c-8c4e-a99c94cf6f47",
      "name": "JSON ASSISTANT MENSAGEM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2752, -80]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory:{{ $('When Executed by Another Workflow').item.json.company_id }}:v1{{ $('When Executed by Another Workflow').item.json.message.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [-3552, 144],
      "id": "3f3c8c98-891f-4ba7-be08-869daeb5b6b9",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "YLWGefNBa88e0d12",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-3696, 144],
      "id": "b34c4b34-db8c-48ee-b6a2-5093e5b2d453",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1dOXhDaqEqdVNGVp",
          "name": "OpenAI - Sales"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_active_ai_agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_company_id",
              "value": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-3008, -384],
      "id": "c6fd4e78-4079-40ea-8743-f26a2cd02554",
      "name": "prompt_agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_save_ai_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\": \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_phone\":      \"{{ $('When Executed by Another Workflow').item.json.message.phone }}\",\n  \"p_body\":       \"{{ $('Loop Over Items1').item.json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-1696, 32],
      "id": "4505389f-f4fa-4be9-ba40-423ca64949ce",
      "name": "inbout_message1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1596e9d6-b348-46c3-a8b7-98eea12538ad",
              "name": "role",
              "value": "={{ $('When Executed by Another Workflow').item.json.role }}",
              "type": "string"
            },
            {
              "id": "a769916d-97e5-4d69-b9b6-1ff18166733c",
              "name": "content",
              "value": "={{ $('When Executed by Another Workflow').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "tools_disponiveis",
              "value": "={{ $('When Executed by Another Workflow').item.json.tools_disponiveis ?? '' }}",
              "type": "string"
            },
            {
              "id": "c2b3d4e5-f6a7-8901-bcde-f01234567891",
              "name": "tools_json",
              "value": "={{ $('When Executed by Another Workflow').item.json.tools_json ?? [] }}",
              "type": "array"
            },
            {
              "id": "d3c4e5f6-a7b8-9012-cdef-012345678912",
              "name": "conversation_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversation_id ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2640, -384],
      "id": "fc74d96d-2916-4870-baa3-aced873aefc8",
      "name": "normaliza_input"
    },
    {
      "parameters": {
        "jsCode": "const input = $('When Executed by Another Workflow').item.json;\nconst agentConfig = $('prompt_agent').item.json;\n\nconst tools_disponiveis = input.tools_disponiveis ?? '';\nconst tools_json = input.tools_json ?? [];\n\nlet toolsBlock = '';\nif (tools_disponiveis) {\n  toolsBlock += `\\n\\n## TOOLS DISPONÍVEIS NESTE CONTEXTO\\nVocê pode chamar APENAS as seguintes tools: ${tools_disponiveis}\\nNão invente tools que não estejam nessa lista.`;\n}\nif (tools_json && tools_json.length > 0) {\n  toolsBlock += `\\n\\n## DESCRIÇÃO DETALHADA DAS TOOLS\\n`;\n  for (const tool of tools_json) {\n    toolsBlock += `\\n### ${tool.name}\\n`;\n    if (tool.label) toolsBlock += `Label: ${tool.label}\\n`;\n    if (tool.description) toolsBlock += `Descrição: ${tool.description}\\n`;\n    if (tool.when_to_use) toolsBlock += `Quando usar: ${tool.when_to_use}\\n`;\n    if (tool.input_schema) toolsBlock += `Parâmetros esperados: ${JSON.stringify(tool.input_schema)}\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    role: input.role,\n    content: input.content,\n    company_id: input.company_id,\n    conversation_id: input.conversation_id ?? '',\n    sender_name: input.sender_name ?? '',\n    phone: input.message?.phone ?? '',\n    tools_disponiveis,\n    tools_json,\n    tools_context_block: toolsBlock,\n    agent: agentConfig\n  }\n}];"
      },
      "id": "c0b15da6-3682-4b6d-9a03-b83a66dd9061",
      "name": "prepara_contexto_agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3424, -80]
    },
    {
      "parameters": {
        "toolDescription": "Lista todos os tipos de serviços disponíveis para agendamento nesta empresa, retornando id, nome e duração em minutos. Use SEMPRE antes de buscar horários ou criar agendamentos para obter o service_type_id correto. Não requer parâmetros.",
        "method": "GET",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/service_types?company_id=eq.{{ $('When Executed by Another Workflow').item.json.company_id }}&is_active=eq.true&select=id,name,duration_minutes&order=name.asc",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-3568, 144],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef0123456789",
      "name": "tool_listar_servicos"
    },
    {
      "parameters": {
        "toolDescription": "Busca horários disponíveis para agendamento em uma data específica. Use ANTES de confirmar um agendamento para verificar disponibilidade. Parâmetros: p_service_type_id (uuid do tipo de serviço), p_date (data no formato YYYY-MM-DD).",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_available_slots",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\":      \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_service_type_id\": \"{p_service_type_id}\",\n  \"p_date\":            \"{p_date}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-3216, 144],
      "id": "b157e748-ded5-4742-8eff-e8613cdfc82e",
      "name": "tool_buscar_horarios_disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Transfere o atendimento da conversa atual para um agente humano, pausando a IA. Use quando o cliente pedir explicitamente para falar com uma pessoa, ou quando a situação exigir escalada humana. Não requer parâmetros — age sobre a conversa atual.",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_n8n_set_attendance_mode",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\":      \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_conversation_id\": \"{{ $('When Executed by Another Workflow').item.json.conversation_id }}\",\n  \"p_mode\":            \"human\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-2704, 144],
      "id": "c913add5-fed3-43ee-b725-d348ab20bd3f",
      "name": "tool_transferir_atendimento"
    },
    {
      "parameters": {
        "toolDescription": "Move um deal do CRM para um novo estágio do pipeline. Use quando o cliente avançar no processo de compra ou quando houver mudança de status no funil. Parâmetros: deal_id (uuid do deal), stage_id (uuid do novo estágio de destino).",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_n8n_update_deal_stage",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\":   \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_deal_id\":      \"{deal_id}\",\n  \"p_new_stage_id\": \"{stage_id}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-2528, 144],
      "id": "8dbe8884-8667-4987-972b-3323eb797902",
      "name": "tool_mover_crm"
    },
    {
      "parameters": {
        "toolDescription": "Busca conhecimento sobre procedimentos, serviços e informações da empresa. Use quando o usuário perguntar sobre preços, procedimentos ou serviços disponíveis. Parâmetros: procedimento (texto da busca).",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/2af521a5-b07d-4e08-8209-4908fb7ebda1",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "procedimento"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-2352, 144],
      "id": "6781ec3e-e02a-4ee0-9841-10ecdd465619",
      "name": "tool_busca_conhecimento"
    },
    {
      "parameters": {
        "toolDescription": "Cria um agendamento para o cliente com validação automática de conflito de horário e cálculo da duração. Use APÓS confirmar slot disponível com o usuário via tool_buscar_horarios_disponiveis. Parâmetros: contact_id (uuid do contato), service_type_id (uuid do tipo de serviço), scheduled_at (data/hora em ISO8601 com timezone, ex: 2025-05-10T09:00:00-03:00), notes (observações, opcional).",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_create_appointment",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\":      \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_contact_id\":      \"{contact_id}\",\n  \"p_conversation_id\": \"{{ $('When Executed by Another Workflow').item.json.conversation_id }}\",\n  \"p_service_type_id\": \"{service_type_id}\",\n  \"p_scheduled_at\":    \"{scheduled_at}\",\n  \"p_notes\":           \"{notes}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-3392, 144],
      "id": "26108a7b-f0a1-4783-bdde-95fd12205160",
      "name": "tool_agendar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Nova mensagem recebida do usuário\n{{ $json.content }}\n2. [DATA_ATUAL] = {{ $now.toString() }}\n3. Nunca envie o contexto para o usuário, apenas a resposta final para whatsapp\n4. Tools disponiveis: {{ $json.agent.tools_disponiveis }}",
        "options": {
          "systemMessage": "={{ $('prompt_agent').item.json.agent.system_prompt }}\n\n# Tools\n\n```json\n{{JSON.stringify($json.agent.tools_json,null,2)}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-3168, -80],
      "id": "6ffa6261-d9cf-46dc-9bd1-f43e05477702",
      "name": "Sia One - IA"
    },
    {
      "parameters": {
        "toolDescription": "Chama a equipe de atendimento humano enviando um resumo da conversa para análise. Use quando precisar escalar ou notificar a equipe sobre uma situação importante. Parâmetros: resumo (texto descrevendo o contexto e motivo da chamada).",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-792c0963d55c",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-3024, 144],
      "id": "174605fd-9a16-4017-87ed-76beee34b127",
      "name": "chamar_equipe"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "role": "user",
          "content": "quero falar com humano",
          "message": {
            "phone": "5527997071089"
          },
          "sender_name": "Rosa",
          "company_id": "f5de34df-432f-4c67-a879-542278a86bf1",
          "conversation_id": "00000000-0000-0000-0000-000000000000"
        }
      }
    ]
  },
  "connections": {
    "Separa Msg": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "msg": {
      "main": [
        [
          {
            "node": "inbout_message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Separa Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON ASSISTANT MENSAGEM": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "prompt_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt_agent": {
      "main": [
        [
          {
            "node": "normaliza_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inbout_message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepara_contexto_agent": {
      "main": [
        [
          {
            "node": "Sia One - IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza_input": {
      "main": [
        [
          {
            "node": "prepara_contexto_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_listar_servicos": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_buscar_horarios_disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_transferir_atendimento": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_mover_crm": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_busca_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_agendar": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sia One - IA": {
      "main": [
        [
          {
            "node": "JSON ASSISTANT MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chamar_equipe": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9a194880-300e-41b9-af97-73c7407c13ad",
  "meta": {
    "instanceId": "7e44dba8003e8ae6a7e9a2d983d63ce1a03b6fc6d0baad5c615d2e5c3f6e4030"
  },
  "id": "NqFletwLn8RvucvrmAZjs",
  "tags": []
}
