[Sia One] [IA - Comercial].json
{
  "name": "[Sia One] [IA - Comercial]",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3904,
        3968
      ],
      "id": "55f15d2a-c36b-422d-8a60-28f2f7420dfa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const mensagem = $json[\"mensagem\"];\nconst agentResponse = $('JSON ASSISTANT MENSAGEM').first().json.content || '';\nconst abreviacoes = ['Dra.', 'Sr.', 'Sra.', 'Dr.', 'Prof.', '1.', '2.', '3.', '4.'];\n\n// Função para verificar se um caractere é um emoji\nconst contemEmoji = (texto) => {\n  const regexEmoji = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF]+/g;\n  return regexEmoji.test(texto);\n};\n\n// Regex para identificar pontos de divisão, considerando abreviações\nconst regex = new RegExp(\n  `(?<!\\\\b(?:${abreviacoes.map(abreviacao => abreviacao.replace('.', '\\\\.')).join('|')}))(?<=[\"\".!?])\\\\s+`\n);\n\nlet partes = mensagem.split(regex);\n\n// Função para verificar se a última palavra de uma frase é uma abreviação\nconst ultimaPalavraEhAbreviacao = (frase) => {\n  const palavras = frase.trim().split(' ');\n  const ultimaPalavra = palavras[palavras.length - 1];\n  return abreviacoes.includes(ultimaPalavra);\n};\n\n// Ajusta a divisão para casos onde a frase termina com uma abreviação\nfor (let i = 1; i < partes.length; i++) {\n  if (ultimaPalavraEhAbreviacao(partes[i - 1])) {\n    partes[i - 1] += ' ' + partes[i];\n    partes.splice(i, 1);\n    i--;\n  }\n}\n\n// Função para combinar frases curtas em uma única parte\nconst combinarFrasesCurtas = (partes) => {\n  const combinadas = [];\n  let buffer = '';\n\n  for (let i = 0; i < partes.length; i++) {\n    buffer += partes[i].trim();\n    if (i < partes.length - 1 && (partes[i].trim().length < 40 || contemEmoji(partes[i].trim()))) {\n      buffer += ' ';\n    } else {\n      combinadas.push(buffer);\n      buffer = '';\n    }\n  }\n\n  if (buffer.length > 0) {\n    combinadas.push(buffer);\n  }\n\n  return combinadas;\n};\n\npartes = combinarFrasesCurtas(partes);\n\n// Função para remover formatação de links\nconst removerFormatacaoLink = (texto) => {\n  const regexLinkFormatado = /\\[.*?\\]\\((.*?)\\)/g;\n  return texto.replace(regexLinkFormatado, '$1');\n};\n\nconst resultado = partes\n  .filter(parte => parte.trim() !== '')\n  .map(parte => ({ mensagem: removerFormatacaoLink(parte.trim()), agent_response: agentResponse }));\n\nreturn resultado;"
      },
      "id": "a2262a49-a42c-4207-88a1-f4eaf4a3f00d",
      "name": "Separa Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        4272
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5488,
        4144
      ],
      "id": "8c04ef83-7c3b-4e92-bc0b-22b018d78c11",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simplifique.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('When Executed by Another Workflow').item.json.instance }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('prepara_contexto_agent').item.json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "delay",
              "value": "2000"
            },
            {
              "name": "readchat",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5504,
        4384
      ],
      "id": "95d6f8b1-db1b-4d28-b87c-8e63d0e26f64",
      "name": "msg"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "f18e613b-5ab5-4b19-9e79-3f31e10885af",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5872,
        4384
      ],
      "webhookId": "eb1e13bd-1ebf-48bd-923a-9faece1949bf"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f8f975bd-8ff5-4660-b8f0-1ffffeeb81b2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5280,
        4272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38c0fbe4-2c02-414c-a242-dbbf882f1b49",
              "name": "mensagem",
              "value": "={{ $json.content.replace(/['\\\"]+/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "744b3c28-bed2-4412-9dbc-8bb04c8547ad",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4848,
        4272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd77e026-a39f-4d86-87ff-14e5125e9f52",
              "name": "role",
              "value": "assistant",
              "type": "string"
            },
            {
              "id": "7bccbe2c-3c3a-4b37-b2db-f2038f1d010e",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "882878e1-b51e-496a-a252-7d03404620dd",
      "name": "JSON ASSISTANT MENSAGEM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4624,
        4272
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory:{{ $('When Executed by Another Workflow').item.json.company_id }}:v1{{ $('When Executed by Another Workflow').item.json.message.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        3824,
        4496
      ],
      "id": "cc870d49-123d-411a-8510-855f05de4536",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "YLWGefNBa88e0d12",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3680,
        4496
      ],
      "id": "29ab92de-137b-42c3-9ad8-54398dae7e1e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1dOXhDaqEqdVNGVp",
          "name": "OpenAI - Sales"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para chamar a equipe enviando resumo da conversa",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-792c0963d55c",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4624,
        4496
      ],
      "id": "c53528a8-2c96-443c-802f-dff6dfa94199",
      "name": "enviar_video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_active_ai_agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_company_id",
              "value": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4288,
        3968
      ],
      "id": "8bcc9ea1-adde-4071-b51e-7e1afe04528b",
      "name": "prompt_agent",
      "credentials": {
        "httpCustomAuth": {
          "id": "jFcbndpnIaED8qfx",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_save_ai_message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\": \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_phone\":      \"{{ $('When Executed by Another Workflow').item.json.message.phone }}\",\n  \"p_body\":       \"{{ $json.text }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5680,
        4384
      ],
      "id": "e0d0c730-81d6-463d-b88b-ee35053cdab1",
      "name": "inbout_message",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "jFcbndpnIaED8qfx",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1596e9d6-b348-46c3-a8b7-98eea12538ad",
              "name": "role",
              "value": "={{ $('When Executed by Another Workflow').item.json.role }}",
              "type": "string"
            },
            {
              "id": "a769916d-97e5-4d69-b9b6-1ff18166733c",
              "name": "content",
              "value": "={{ $('When Executed by Another Workflow').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "tools_disponiveis",
              "value": "={{ $('When Executed by Another Workflow').item.json.tools_disponiveis ?? '' }}",
              "type": "string"
            },
            {
              "id": "c2b3d4e5-f6a7-8901-bcde-f01234567891",
              "name": "tools_json",
              "value": "={{ $('When Executed by Another Workflow').item.json.tools_json ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4624,
        3968
      ],
      "id": "6edf7e92-88a5-49f2-aee5-9121f80dd87c",
      "name": "normaliza_input"
    },
    {
      "parameters": {
        "jsCode": "// Prepara o contexto completo do agent incluindo tools disponíveis\nconst input = $('When Executed by Another Workflow').item.json;\nconst agentConfig = $('prompt_agent').item.json;\n\nconst tools_disponiveis = input.tools_disponiveis ?? '';\nconst tools_json = input.tools_json ?? [];\n\n// Monta bloco de contexto de tools para o prompt\nlet toolsBlock = '';\nif (tools_disponiveis) {\n  toolsBlock += `\\n\\n## TOOLS DISPONÍVEIS NESTE CONTEXTO\\nVocê pode chamar APENAS as seguintes tools: ${tools_disponiveis}\\nNão invente tools que não estejam nessa lista.`;\n}\nif (tools_json && tools_json.length > 0) {\n  toolsBlock += `\\n\\n## DESCRIÇÃO DETALHADA DAS TOOLS\\n`;\n  for (const tool of tools_json) {\n    toolsBlock += `\\n### ${tool.name}\\n`;\n    if (tool.label) toolsBlock += `Label: ${tool.label}\\n`;\n    if (tool.description) toolsBlock += `Descrição: ${tool.description}\\n`;\n    if (tool.when_to_use) toolsBlock += `Quando usar: ${tool.when_to_use}\\n`;\n    if (tool.input_schema) toolsBlock += `Parâmetros esperados: ${JSON.stringify(tool.input_schema)}\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    role: input.role,\n    content: input.content,\n    company_id: input.company_id,\n    contact_id: input.contact_id ?? null,\n    conversation_id: input.conversation_id ?? null,\n    sender_name: input.sender_name ?? '',\n    phone: input.message?.phone ?? '',\n    tools_disponiveis,\n    tools_json,\n    tools_context_block: toolsBlock,\n    agent: agentConfig\n  }\n}];"
      },
      "id": "f485502c-8291-46df-b907-fa63556c589a",
      "name": "prepara_contexto_agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        4272
      ]
    },
    {
      "parameters": {
        "toolDescription": "Busca horários disponíveis para agendamento em uma data específica. \nUse antes de agendar para verificar disponibilidade. \nParâmetros: p_service_type_id (uuid do tipo de serviço), p_date (YYYY-MM-DD).",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_available_slots",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\": \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_service_type_id\": \"{p_service_type_id}\",\n  \"p_date\": \"{p_date}\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4144,
        4496
      ],
      "id": "25e446e2-6c6b-4fcf-b942-e65852b2429a",
      "name": "tool_buscar_horarios_disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Transfere o atendimento para um agente humano alterando attendance_mode da conversa para 'human'. Use quando o usuário pedir para falar com uma pessoa ou quando a situação exigir escalada. Parâmetros: conversation_id (uuid), motivo (texto livre para registro).",
        "method": "PATCH",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/conversations?id=eq.{{ $('When Executed by Another Workflow').item.json.conversation_id }}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attendance_mode\": \"human\",\n  \"ai_paused_at\": \"{{ $now.toISO() }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4784,
        4496
      ],
      "id": "d67c6f8d-0e23-466e-b8a3-754867815560",
      "name": "tool_transferir_atendimento"
    },
    {
      "parameters": {
        "toolDescription": "Move um deal do CRM para um novo estágio do pipeline. Use quando o usuário avançar no processo de compra ou quando houver mudança de status no funil. Parâmetros: deal_id (uuid), stage_id (uuid do novo estágio).",
        "method": "PATCH",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/deals?id=eq.{deal_id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage_id\": \"{stage_id}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4960,
        4496
      ],
      "id": "fe327087-d1b9-4160-8365-995dad26442f",
      "name": "tool_mover_crm"
    },
    {
      "parameters": {
        "toolDescription": "Busca conhecimento sobre procedimentos, serviços e informações da empresa. Use quando o usuário perguntar sobre preços, procedimentos ou serviços disponíveis. Parâmetros: procedimento (texto da busca).",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/2af521a5-b07d-4e08-8209-4908fb7ebda1",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "procedimento"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        5136,
        4496
      ],
      "id": "9628b60e-9b2a-44a6-8904-646aab0f1edf",
      "name": "tool_busca_conhecimento"
    },
    {
      "parameters": {
        "toolDescription": "Cria um agendamento para o cliente na tabela appointments do banco. Use após confirmar horário disponível com o usuário. Parâmetros: contact_id (uuid), service_type_id (uuid), scheduled_at (ISO8601), ends_at (ISO8601), notes (opcional).",
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"contact_id\": \"{contact_id}\",\n  \"service_type_id\": \"{service_type_id}\",\n  \"scheduled_at\": \"{scheduled_at}\",\n  \"ends_at\": \"{ends_at}\",\n  \"status\": \"scheduled\",\n  \"notes\": \"{notes}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3984,
        4496
      ],
      "id": "c1cbcf13-0167-4e6d-bb33-f9d4e69076e3",
      "name": "tool_agendar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Nova mensagem recebida do usuário\n{{ $json.content }}\n2. [DATA_ATUAL] = {{ $now.toString() }}\n3. Nunca envie o contexto para o usuário, apenas a resposta final para whatsapp\n4. Tools disponiveis: {{ $json.agent.tools_disponiveis }}, tool_listar_servicos",
        "options": {
          "systemMessage": "={{ $('prompt_agent').item.json.agent.system_prompt }}\n\n# Tools\n\n```json\n{{JSON.stringify($json.agent.tools_json,null,2)}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4208,
        4272
      ],
      "id": "a7504739-d7d7-479a-a3f7-00b23cb4d7e6",
      "name": "Sia One - IA"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para chamar a equipe enviando resumo da conversa",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-792c0963d55c",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4480,
        4496
      ],
      "id": "c0a52cf2-5d4e-46c2-919b-30e8d89e7594",
      "name": "chamar_equipe"
    },
    {
      "parameters": {
        "toolDescription": "Lista todos os tipos de serviços disponíveis para agendamento nesta empresa, retornando id, nome e duração em minutos. Use SEMPRE antes de buscar horários ou criar agendamentos para obter o service_type_id correto. Não requer parâmetros.",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/product_catalog?company_id=eq.{{ $('When Executed by Another Workflow').item.json.company_id }}&is_active=eq.true&select=id,name,description,price,duration_minutes&order=sort_order.asc,name.asc",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4320,
        4496
      ],
      "id": "2fe01782-3a28-423f-ad14-9a5fdf6b3d53",
      "name": "buscar_produtos_servicos"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').item.json;\nconst ctx = $('prepara_contexto_agent').first().json;\n\nreturn [{\n  json: {\n    company_id:              trigger.company_id      || ctx.company_id      || null,\n    contact_id:              trigger.contact_id      || ctx.contact_id      || null,\n    conversation_id:         trigger.conversation_id || ctx.conversation_id || null,\n    buffered_user_message:   $('normaliza_input').first().json.content || '',\n    agent_response:          $('Sia One - IA').first().json.output || ''\n  }\n}];"
      },
      "id": "prep-followup-payload-001",
      "name": "prepara_payload_followup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5696,
        4144
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "[Sia One] [Followup]",
          "mode": "name",
          "cachedResultName": "[Sia One] [Followup]"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "exec-followup-workflow-001",
      "name": "execute_followup_workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5904,
        4144
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "role": "user",
          "content": "Já treino",
          "message": {
            "phone": "558898325848"
          },
          "sender_name": "Hemerson Coelho",
          "company_id": "b9f12661-cdce-48f7-abd0-1dcc341cd878",
          "instance": "afaf87cc-8880-4a78-9937-5008d7c00ee3"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "prompt_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Msg": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "prepara_payload_followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg": {
      "main": [
        [
          {
            "node": "inbout_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Separa Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON ASSISTANT MENSAGEM": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "enviar_video": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prompt_agent": {
      "main": [
        [
          {
            "node": "normaliza_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inbout_message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza_input": {
      "main": [
        [
          {
            "node": "prepara_contexto_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepara_contexto_agent": {
      "main": [
        [
          {
            "node": "Sia One - IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_buscar_horarios_disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_transferir_atendimento": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_mover_crm": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_busca_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_agendar": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sia One - IA": {
      "main": [
        [
          {
            "node": "JSON ASSISTANT MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chamar_equipe": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_produtos_servicos": {
      "ai_tool": [
        [
          {
            "node": "Sia One - IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prepara_payload_followup": {
      "main": [
        [
          {
            "node": "execute_followup_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b0e9957-3be1-42e1-820d-2817e4aa632b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e44dba8003e8ae6a7e9a2d983d63ce1a03b6fc6d0baad5c615d2e5c3f6e4030"
  },
  "id": "NqFletwLn8RvucvrmAZjs",
  "tags": []
}
